{% extends 'base.html.twig' %}

{% block title %} {{ parent()}} | Détails{% endblock %}

{% block body %}
    <h2> {{ wish.title }}</h2>

    <article>
        <div author>
            by {{ wish.author }}
        </div>

        <div class="description">
            {{ wish.description }}
        </div>

        <div class="date">
            {{ wish.dateCreated|date('d-m-Y') }}
        </div>


    </article>


{% endblock %}