<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet" type='text/css'>
    {# <script src="https://kit.fontawesome.com/51dde5b5b5.js" crossorigin="anonymous"></script> #}

    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <link rel="icon" href="{{ asset('img/favicon.png') }}">


    {# <script src="js/script.js"></script> #}

    <title> {% block title %} Bucket-List! {% endblock %}</title>
</head>

<body>

<div class="container">

    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('main_home') }}">Bucket-List
                    <img src="{{ asset('img/favicon.png') }}" alt="Bucket-List!"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('main_home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('main_about_us') }}">About US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('wish_list') }}">All wishes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('wish_form') }}">Your Wish</a>
                        </li>
                    </ul>
                    <span class="navbar-text">Le top des meilleurs wish</span>
                </div>
            </div>
        </nav>

    </header>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        <div class="fixed-bottom footer-copyright text-center py-3">&copy;{{ "now"|date("Y") }} Bucket-List!</div>
    </footer>
</div>
</body>

</html>



